@import url("constant.css");

.h-100{
  height: 100%;
}

.h-70{
  height: 70%;
}

.h-40{
  height: 40px;
}

.h-150p{
  height: 150px;
}

.w-100{
  width: 100%;
}

.w-1000p{
  width: 1000px;
}

.w-25{
  width: 25%;
}

.w-50{
  width: 50%;
}

.w-500p{
  width: 500px;
}

.w-200p{
  width: 200px;
}

.w-150p{
  width: 150px;
}

.pl-15p{
  padding-left: 15px;
}

.pl-70p{
  padding-left: 70px;
}

.pr-70p{
  padding-right: 70px;
}

.fd-column{
  flex-direction: column;
}

.m-0{
  margin: 0;
}

.p-0{
  padding: 0;
}

.d-flex{
  display: flex;
}

.p-40p{
  padding: 40px;
}

.pb-10p{
  padding-bottom: 10px;
}

.jc-space-between{
  justify-content: space-between;
}

.jc-space-evenly{
  justify-content: space-evenly;
}
.jc-space-around{
  justify-content: space-around;
}

.ai-center{
  align-items: center;
}

.jc-center{
  justify-content: center;
}

.pr-20p{
  padding-right: 20px;
}

.ls-none{
  list-style: none;
}

.fw-wrap{
  flex-wrap: wrap;
}

.h-350p{
    height: 350px;
}

.fs-30p{
  font-size: 30px;
}

.fs-13p{
  font-size: 13px;
}

.mt-30p{
  margin-top: 30px;
}

.mb-20p{
  margin-bottom: 20px;
}

.pl-10p{
  padding-left: 10px;
}

.ta-center{
  text-align: center;
}

.ta-left{
  text-align: left;
}

.test-border{
  border: 1px solid black;
}

.fw-normal{
  font-weight: normal;
}

.bc-l{
  background: #f7f7f7;
}

.c-g{
  color: #46ddc1;
}


.ltc{
  color: var(--landing-text-color);
}

.bgcolor-ltc{
  background-color: var(--landing-text-color);
}

.color-w{
  color: white;
}

.h-footer{
  height: var(--footer-height);
}
