@import url("constant.css");

.landing-text {
  font-weight: bold;
  font-size: 16px;
  color: var(--landing-text-color);
  font-family: sans-serif;
}

.header {
  position: fixed;
  flex-wrap: wrap;
  height: var(--header-height);
  background-color: white;
}

.logo-name {
  padding: 0px 0px 0px 10px;
}

.pt-header{
  padding-top: var(--header-height);
}

.section1 {
  color: white;
  height: var(--boocking-section-height);
}

.section1-background{
  background-image: url(../images/banner.png);
  background-position: 100% 70%;
  background-size: cover;
}

.section1-img{
  height: 40%;
}

.section1-text{
  font-size: 13px;
  padding: 5px;
  font-weight: 550;
}

.btn{
  background: none;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid;
}

.sec1-btn{
  color: inherit;
  border-color: inherit;
}

.sec1-btn:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.container{
  display: flex;
  width: 100%;
  align-items: center;
}

.centered-section{
  display: flex;
  width: var(--main-section-width);
  justify-content: space-evenly;
  padding: 40px;
}

a:link {
  color: var(--landing-text-color);
}

/* visited link */
a:visited {
  color: var(--landing-text-color);
}

/* mouse over link */
a:hover {
  color: var(--landing-text-color);
}

/* selected link */
a:active {
  color: var(--landing-text-color);
}

.feedback-form{
  border-color: var(--color-alt);
  padding: 20px;
}

.input{
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

.feedback-btn{
  color: var(--color-alt);
  border-color: var(--color-alt);
}

.feedback-btn:hover{
  cursor: pointer;
  background-color: rgba(70, 221, 193, 0.3);
}

.field{
  display: flex;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
}
